<main>
    <div class="logo">
        <!--<img class="logo_netflix_corto" src="../../../assets/images/LOGO/logo_netflix_corto.jpg" alt=""> -->
        <img class="logo" src="../../../assets/images/LOGO/logo.png" alt="">
    </div>

    <div class="menu">
        <ul>
            <li><a href='#'>Acción</a></li>
            <li><a href='#'>Anime</a></li>
            <li><a href='#'>Comedia</a></li>
            <li><a href='#'>Drama</a></li>
            <li><a href='#'>Sci-fi</a></li>
            <li><a href='#'>Terror</a></li>
            <li><a href='#'>Top 10</a></li>
        </ul>
        <img class="icono" src="../../../assets/images/LOGO/logo_netflix_corto.jpg" alt="">
    </div>
</main>